[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MorphoRegions"]
	path = MorphoRegions
	url = https://github.com/aagillet/morphoregions
